body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e3f2fd;
}

.navbar {
  background-color: #2196f3;
  color: white;
  padding: 1rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 3rem 1rem;
  text-align: center;
}

.search-box {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0d47a1;
}

.weather-result {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  max-width: 350px;
  margin-inline: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
